<section class="home-posts">
	<div class="home-posts__header">
		<h3>Últimos posts</h3>
	</div>
	<div class="home-posts__list">
		{% for post in posts %}
			{% include "partials/post-card/post-card.twig" with { 'post': post, 'theme': theme} %}
		{% endfor %}
	</div>
</section>
