<footer>
  <img src="{{ theme.link }}/assets/images/svgs/logo.svg" alt="Logo">
  <p>© {{ "now"|date("Y") }} Todos os direitos reservados.</p>
  <a href="https://www.instagram.com/surpresacriativa.com.br" target="_blank">Instragram</a>
</footer>