{% extends "base.twig" %}

{% block content %}
	<section class="search-container">
		<div class="search-container__content">
			<div class="search-container__header">
				<h2>Resultados da pesquisa por: "{{ search_query }}"</h2>
			</div>

			<div class="search-container__results">
				{% if posts %}
					{% for post in posts %}
						{% include "partials/post-card/post-card.twig" with { 'post': post, 'theme': theme} %}
					{% endfor %}
				{% else %}
					<p>Nenhum resultado encontrado para sua busca.</p>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
