.search-container {
  margin: 40px 0;
  width: 100%;
  height: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container__content {
  width: 100%;
  max-width: var(--conf-max-width);
  padding: 20px;
  background-color: var(--color-bg);
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.search-container__header h2 {
  font-size: 16px;
  margin-bottom: 24px;
}

.search-container__results {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
